.user-edit-wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90vh;
    background-color: #999AC6;
}
.user-edit-form{
    width: 500px;
    padding: 20px 25px;
    text-align: left;
    border: 3px solid;
    border-radius: 10px;
    border-left-color: #999AC6;
    border-top-color: #999AC6;
    border-bottom-color: #4C2C72;
    border-right-color: #4C2C72;
    background-color: rgb(245, 241, 255);
    filter: drop-shadow(5px 7px 18px) #000;
    -webkit-filter: drop-shadow(5px 7px 18px);
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.form-group{
    margin: 20px 0;
}
.isActAdm{
    text-align: center;
}
#register{
    text-align: center;
    color: rgba(76, 44, 114, 0.6);
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    margin: 10px;
}
label{
    color: #726DA8;
    font-weight: 500;
}
#email-edit, #password-edit, #phone-edit, #age-edit, #name-edit{
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #4C2C72;
    background-color: rgb(245, 241, 255);
    padding-left: 5px;
}
#btn-edit{
    color: #4C2C72;
    font-weight: 500;
    margin-top: 30px;
    border: 3px solid;
    border-radius: 50px;
    border-left-color: #999AC6;
    border-top-color: #999AC6;
    border-bottom-color: #4C2C72;
    border-right-color: #4C2C72;
    background-color: rgb(214, 202, 247);
}
#btn-edit:hover{
    background-color: rgb(186, 172, 219);
    transition: 1.2s;
}