.reci-edit-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 66;
}
.reci-edit-form{
    width: 500px;
    padding: 20px 25px;
    text-align: left;
    border: 3px solid;
    border-radius: 10px;
    border-left-color: #999AC6;
    border-top-color: #999AC6;
    border-bottom-color: #4C2C72;
    border-right-color: #4C2C72;
    background-color: rgb(245, 241, 255);
    filter: drop-shadow(5px 7px 18px) #000;
    -webkit-filter: drop-shadow(5px 7px 18px);
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    z-index: 99;
}
label{
    color: #726DA8;
    font-weight: 500;
}
#title,#content,#difficulty,#category,#status{
    border-radius: 5px;
    border-left-color: #999AC6;
    border-top-color: #999AC6;
    border-bottom-color: #4C2C72;
    border-right-color: #4C2C72;
    background-color: rgb(245, 241, 255);
    padding-left: 5px;
}
.btn-save-reci{
    color: #4C2C72;
    font-weight: 500;
    margin-top: 30px;
    border: 3px solid;
    border-radius: 50px;
    border-left-color: #999AC6;
    border-top-color: #999AC6;
    border-bottom-color: #4C2C72;
    border-right-color: #4C2C72;
    background-color: rgb(214, 202, 247);
}
.btn-save-reci:hover{
    background-color: rgb(186, 172, 219);
    transition: 1.2s;
}