.main-content{
    padding-bottom: 20px;
    min-height:  calc(100vh - 100px);
    background-color: rgb(214, 202, 247);
}
#birb{
    position:fixed;
    bottom:0px;
    left: 30%;
    z-index: "-1";
}